/* Variables */
$colorTitulos: rgb(27, 22, 22);
$colorFondo: rgb(146, 146, 146);

/* Import */

@import "nav";

/* Mixin */

@mixin h2m{
    padding-top: 2px;
    font-size: 20px;
    text-align: left;
    color: $colorTitulos;
}

/* Map */

$colores:(
    colorTitulos: #3D3C3C,
    colorFondo: #C4C4C4,
    colorBorde: #ffffff,
);

/* SASS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'M PLUS 2', sans-serif;
}



main {
    min-height: calc(100vh - 380px );
    background-image: url(../Img/Fondomain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        font-family: 'M PLUS 2', sans-serif;
        padding: 5px;
        background: $colorFondo;
        text-align: center;
        color: $colorTitulos;
        margin-top: -10px;
    }
    .mainImagenes {
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        img{
            display: grid;
            margin: 10px 10px;
            border: 1px solid map-get( $colores,colorBorde );
            width: 400px;
            height: 400px;
            object-fit: cover;
            filter: brightness(75%);
            img:hover {
                filter: brightness(100%);
            }
        }
    }
}

footer {
    height: 220px;
    font-family: 'M PLUS 2', sans-serif;
    background-color: map-get($colores,colorFondo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    .footerLogo a img {
            width: 140px;
            height: 140px;
            margin: 5px 5px;
            display: inline-block;
        }
    .footerQuienes {
        margin: 15px 15px;
        width: 350px;
        height: 150px;
        display: inline-block ;
        h2 {
            @include h2m
        }
        p {
            text-align: left;
        }
    }
    .footerContacto {
        @extend .footerQuienes;
        h2 {
            @include h2m
        }
    }
    .footerLocation {
        display: inline-block ;
        iframe {
            margin: 5px 5px;
            width: 300px;
            height: 150px;
        }
    }
    
}